<h1>Add CD's</h1>

<p>Add a CD here:</p>

<form action="/cds" method="post">
  <label for="artist">Artist name:</label>
  <input id="artist" name="artist" type="text">
  <button type="submit">Submit</button>
</form>
